<html>
<head>
<link rel="stylesheet" href="stys.css">
</head>
   <body style="background-color:#EAFAF1; font-color:red">
   <big>
      <a href = “http://localhost:5000/available_nodes” target = "main_page">Available nodes</a>
      <br />
      <br /> 
      <a rel="parent" href="view_int.html" target="main_page">View Interfaces on nodes</a>
      <br />
      <br />
      <a rel="parent" href="view_traffic.html" target = "main_page">View Traffic on nodes</a>
      <br />
      <br />
      <a rel="parent" href="change_traffic.html" target = "main_page">Change Traffic on nodes</a>
      <br />
      <br />
      <a rel="parent" href="delete_traffic.html" target = "main_page">Delete Traffic on nodes</a>
    <br />
      <br /> 
    <a rel="parent"href = “http://localhost:5000/home” target = "main_page">Home</a>
    &nbsp &nbsp &nbsp <a href="http://localhost:5000/logout" target="main_page">Session Logout</a>
    
    </big>  
   </body>
</html>
